.library-hub-container {
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.library-hub-content {
    padding: 16px;
}

.library-hub-title {
    margin: 0 0 20px 0;
    font-size: 24px;
    font-weight: 600;
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    min-height: 300px;
}

.flex-grow {
    flex-grow: 1;
}
